<div class = "container-sm">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <app-progresso></app-progresso>
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    <app-tentativas></app-tentativas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h6>{{ instruction }}</h6>
                <p>{{ frases[0].fraseEng }}</p>
            </div>
            <div class="form-floating">
                <textarea 
                    class="form-control" 
                    rows="10" 
                    (input) = "atualizaResposta($event)">
                </textarea>
            </div>
        </div>
        <div class="row">
            <div class="cow">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" (click) = "verificarResposta()">Check</button>
                </div>
            </div>
        </div>
    </div>
</div>